* {
    margin: 0;
    padding: 0;
    color: #ff9044;
}

body {
    padding: 8px;
    background-color: #172136;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 8px;
}

audio {
    padding: 8px;
    width: calc(100vw - 32px);
}

audio::-webkit-media-controls-panel {
    background-color: #fbe66b;
}
